.logo {
    width: 60px;
}

body {
    color: white;
}

.banner {
    border-radius: 20px;

}

.btn {
    background-color: aliceblue;
    border-radius: 25px;
    width: 150px;
    padding: 10px;

}

.btn:hover {
    background-color: whitesmoke;
}

.banner_picture {
    max-width: 100%;
    object-fit: fill;


}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #006241;
}

.white_card {
    color: black;
}

.btn_green {
    background-color: #006241;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 160px;
    border-radius: 25px;
    display: block;
    text-align: center;
}

.btn_green:hover {
    background-color: #62ba9c;
    color: white;
}

.green_card {
    background-color: #006241;
    border: none;
}

.btn_white {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 160px;
    border-radius: 25px;
    display: block;
    text-align: center;
}

.btn_white:hover {
    background-color: aliceblue;
    color: black;
}

.cards_picture {
    height: 370px;
}

.map_section {

    background-color: #006241;
}

.btn_map {
    display: block;
    width: 350px;
    padding: 10px;
    border-radius: 40px;
    border: none;
    margin-top: 220px;
    margin-left: 35px;

}

footer {
    background-color: #006241;
    padding: 10px;
}

.brand {
    width: 100px;
    margin: 20px 0 20px 0;
}

.footer_text {
    margin-top: 40px;
}

.footer_icons {
    margin: 20px 15px 0 0;
    font-size: 20px;
}